/* mcq.css */

.mcq-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .mcq-content {
    padding: 20px;
  }
  
  .question-content {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .question-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .question-content li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  

  
  /* Add some media queries to make it responsive */
  
  @media (max-width: 768px) {
    .mcq-container {
      margin: 20px auto;
    }
  }
  
  @media (max-width: 480px) {
    .mcq-container {
      padding: 10px;
    }
    .question-content {
      padding: 10px;
    }
  }
  .correct{
    background-color: #C6F7D0;
  }
  .wrong{
    background-color: #FFB6C1;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    list-style: none;
  }
  
  .page-item {
    margin: 0 5px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
  }
  
  .page-item.active {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
  }
  
  .page-item:hover {
    background-color: #f5f5f5;
  }
  
  .page-item.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .previous, .next {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
  }
  
  .previous:hover, .next:hover {
    color: #337ab7;
  }
  
  .break {
    margin: 0 5px;
  }
  .page-link {
    list-style: none;
  }